.sobre {
    text-align: center;
    padding: 15px 0;
}
.titulo-sobre {
    font-size: 2.5rem;
}

.chamada-sobre {
    font-size: 1.6rem;
    margin-top: 15px;
}

.texto-sobre {
    font-size: 1.2rem;
    margin-top: 15px;
    line-height: 35px;
}


